<!DOCTYPE html>
<html lang="en">

<head>
        <link rel="stylesheet" href="/css/admin/layOut.css">
        <link rel="stylesheet" href="/css/admin/menu.css">
        <link rel="stylesheet" href="/css/admin/assignRoomAndTime.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
</head>

<body>
        <header> {{> adminHeader }}</header>
        <div class='body' id="Schedual" style="text-align:left;">
                <h2>Room status</h2>
                <label>Chose room: </label>
                <select id='chonTuan' onchange="tuanoi()"></select>
                <div class="tr" id='thu'>
                        <div class="td">Day of week</div>
                        <div class="td">Monday</div>
                        <div class="td">Tuesday</div>
                        <div class="td">Wednesday</div>
                        <div class="td">Thursday</div>
                        <div class="td">Friday</div>
                        <div class="td">Saturday</div>
                        <div class="td">Sunday</div>
                </div>
                <div class="tr" id="time1">
                </div>
                <div class="tr" id="time2">
                </div>
                <div class="tr" id="time3">
                </div>
                <div class="tr" id="time4">
                </div>
                <div class="tr" id="time5">
                </div>
        </div>
        <div>
                <h1>Add room</h1>
                <span>Room Name: <input type="text" name="roomName"></span>
                <button onclick="addRoom()">addRoom</button>
        </div>
        <div id="listRoom">

        </div>
</body>
<script src="/jquery/jquery.js"></script>
<script>
        tuanoi();
        //hiệu ứng menu
        $('header li').hover(function () {
                $(this).find("div").slideDown()
        }, function () {
                $(this).find("div").hide(500)
        });

        //lấy thông tin lịch trình học, làm việc
        function tuanoi() {
                //lấy thông tin lịch học
                $.ajax({
                        url: '/admin/getRoomAndTime',
                        method: 'get',
                        dataType: 'json',
                        success: function (response) {
                                if (response.msg == 'success') {
                                        console.log(response.data)
                                        $("#time1").html('<div class="td">7:30 to 9:30</div><div class="td"></div><div class="td"></div><div class="td"></div><div class="td"></div><div class="td"></div><div class="td"></div><div class="td"></div>')
                                        $("#time2").html('<div class="td">9:45 to 11:45</div><div class="td"></div><div class="td"></div><div class="td"></div><div class="td"></div><div class="td"></div><div class="td"></div><div class="td"></div>')
                                        $("#time3").html('<div class="td">13:30 to 15:30</div><div class="td"></div><div class="td"></div><div class="td"></div><div class="td"></div><div class="td"></div><div class="td"></div><div class="td"></div>')
                                        $("#time4").html('<div class="td">15:45 to 17:45</div><div class="td"></div><div class="td"></div><div class="td"></div><div class="td"></div><div class="td"></div><div class="td"></div><div class="td"></div>')
                                        $("#time5").html('<div class="td">18:15 to 20:15</div><div class="td"></div><div class="td"></div><div class="td"></div><div class="td"></div><div class="td"></div><div class="td"></div><div class="td"></div>')
                                        $.each(response.data, function (index, data) {
                                                $("#listRoom").html("<h1>List Room </h1>")
                                                $("#listRoom").append("<button onclick='deleteRoom()'>Xóa phòng</button>")
                                                $("#chonTuan").html("")
                                                $.each(data.listRoom, function (index, data) {
                                                        $("#listRoom").append("Room:" + this + "<input type='checkbox' class='delete' value='" + this + "'>")
                                                        $("#chonTuan").append("<option option value = '" + this + "' >" + this + "</option >")
                                                });
                                                $.each(data.room, function (index, room) {
                                                        if ($("#chonTuan").val() == room.room) {
                                                                var caLam = typeTime(room.time)
                                                                $("#" + caLam + " div:nth-child(" + data.dayOfWeek + ")").append("Room:" + room.room + " Status:" + room.status + "<br>")
                                                                if (room.status == "None") $("#" + caLam + " div:nth-child(" + data.dayOfWeek + ")").css("color", "red")
                                                                if (room.status != "None") $("#" + caLam + " div:nth-child(" + data.dayOfWeek + ")").css("color", "green")
                                                        }
                                                });
                                        });
                                }
                                if (response.msg == 'error') {
                                        alert("error")
                                }
                        },
                        error: function (response) {
                                alert('server error');
                        }
                })
        }
        function deleteRoom() {
                var listRoom = [];
                $(".delete").each(function () { if ($(this).is(':checked')) listRoom.push($(this).val()) })
                if (listRoom.length == 0) {
                        alert("Chose room")
                } else {
                        $.ajax({
                                url: '/admin/deleteRoom',
                                method: 'post',
                                dataType: 'json',
                                data: { listRoom: listRoom },
                                success: function (response) {
                                        if (response.msg == 'success') alert('ok')
                                        if (response.msg == 'error') alert('error')
                                },
                                error: function (response) {
                                        alert('server error');
                                }
                        })
                }

        }

        //phân ca để dưa vào bảng lịch học
        function typeTime(time) {
                var caLam
                if (time == "7:30 to 9:30") caLam = "time1"
                if (time == "9:45 to 11:45") caLam = "time2"
                if (time == "13:30 to 15:30") caLam = "time3"
                if (time == "15:45 to 17:45") caLam = "time4"
                if (time == "18:15 to 20:15") caLam = "time5"
                return caLam
        }

        function addRoom() {
                var roomName = $("input[name='roomName']").val()
                var ca = ["7:30 to 9:30", "9:45 to 11:45", "13:30 to 15:30", "15:45 to 17:45", "18:15 to 20:15"]
                var room = []
                for (var i = 0; i < 5; i++) { room.push({ "room": roomName, "time": ca[i], "status": "None" }) }
                $.ajax({
                        url: '/admin/addRoom',
                        method: 'post',
                        dataType: 'json',
                        data: { roomName: room, room: roomName },
                        success: function (response) {
                                if (response.msg == 'success') {
                                        alert('ok')
                                }
                                if (response.msg == 'error') {
                                        alert('error')
                                }
                        },
                        error: function (response) {
                                alert('server error');
                        }
                })
        }
</script>


</html>