<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="/css/admin/menu.css">
        <link rel="stylesheet" href="/css/admin/layOut.css">
        <link rel="stylesheet" href="/css/admin/assignRoomAndTime.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
</head>

<body>
        <header> {{> adminHeader }}</header>
        <div class='body' id="Schedual" style="text-align:left;">
                <div class='leftSide'>
                        <h1></h1>
                        <div class="tr" id='thu'>
                                <div class="td">Day of week</div>
                                <div class="td">Monday</div>
                                <div class="td">Tuesday</div>
                                <div class="td">Wednesday</div>
                                <div class="td">Thursday</div>
                                <div class="td">Friday</div>
                                <div class="td">Saturday</div>
                                <div class="td">Sunday</div>
                        </div>
                        <div class="tr" id="time1"></div>
                        <div class="tr" id="time2"> </div>
                        <div class="tr" id="time3"> </div>
                        <div class="tr" id="time4"> </div>
                        <div class="tr" id="time5"> </div>
                </div>
                <div class='rightSide'>
                        <div style="text-align: left;">
                                <h1>Add room</h1>
                                <span>Room Name: <input type="text" name="roomName"></span>
                                <button onclick="addRoom()">Add room</button>
                        </div>
                        <div id="listRoom"></div>

                </div>
        </div>
</body>
<script src="/jquery/jquery.js"></script>
<script>
        getListRoom();
        //hiệu ứng menu
        $('header li').hover(function () {
                $(this).find("div").slideDown()
        }, function () {
                $(this).find("div").hide(500)
        });

        //lấy thông tin phòng học
        function tuanoi(room) {
                var roomName = room;
                $('.leftSide h1').html("Room: " + roomName);
                $.ajax({
                        url: '/admin/getRoomAndTime',
                        method: 'get',
                        dataType: 'json',
                        success: function (response) {
                                if (response.msg == 'success') {
                                        console.log(response.data)
                                        $("#time1").html('<div class="td">7:30 to 9:30</div><div class="td"></div><div class="td"></div><div class="td"></div><div class="td"></div><div class="td"></div><div class="td"></div><div class="td"></div>')
                                        $("#time2").html('<div class="td">9:45 to 11:45</div><div class="td"></div><div class="td"></div><div class="td"></div><div class="td"></div><div class="td"></div><div class="td"></div><div class="td"></div>')
                                        $("#time3").html('<div class="td">13:30 to 15:30</div><div class="td"></div><div class="td"></div><div class="td"></div><div class="td"></div><div class="td"></div><div class="td"></div><div class="td"></div>')
                                        $("#time4").html('<div class="td">15:45 to 17:45</div><div class="td"></div><div class="td"></div><div class="td"></div><div class="td"></div><div class="td"></div><div class="td"></div><div class="td"></div>')
                                        $("#time5").html('<div class="td">18:15 to 20:15</div><div class="td"></div><div class="td"></div><div class="td"></div><div class="td"></div><div class="td"></div><div class="td"></div><div class="td"></div>')
                                        $.each(response.data, function (index, data) {
                                                $.each(data.room, function (index, room) {
                                                        if (roomName == room.room) {
                                                                var caLam = typeTime(room.time)
                                                                $("#" + caLam + " div:nth-child(" + data.dayOfWeek + ")").append('<i class="fas fa-check-circle"></i>')
                                                                if (room.status == "None") $("#" + caLam + " div:nth-child(" + data.dayOfWeek + ")").css("color", "red")
                                                                if (room.status != "None") $("#" + caLam + " div:nth-child(" + data.dayOfWeek + ")").css("color", "green")
                                                        }
                                                });
                                        });
                                }
                                if (response.msg == 'error') alert("error")
                        },
                        error: function (response) {
                                alert('server error');
                        }
                })
        }
        //lấy thông tin phòng học
        function getListRoom() {
                $.ajax({
                        url: '/admin/getRoomAndTime',
                        method: 'get',
                        dataType: 'json',
                        success: function (response) {
                                if (response.msg == 'success') {
                                        $.each(response.data, function (index, data) {
                                                $("#listRoom").html("<h1>List Room </h1>")
                                                $("#listRoom").append("<div class='listOption'><button onclick='deleteRoom()'>Delete room</button></div><hr>")
                                                $.each(data.listRoom, function (index, data) {
                                                        $("#listRoom").append("<div class='list'><button onclick=tuanoi('" + this + "')>" + this + "</button><br><input type='checkbox' class='delete' value='" + this + "'><div>")
                                                });
                                        });
                                        //lấy trạng thái phongf đâu tiên trong mảng
                                        tuanoi(response.data[0].listRoom[0]);
                                }
                                if (response.msg == 'error') alert("error")
                        },
                        error: function (response) {
                                alert('server error');
                        }
                })
        }

        function deleteRoom() {
                var listRoom = [];
                $(".delete").each(function () { if ($(this).is(':checked')) listRoom.push($(this).val()) })
                if (listRoom.length == 0) {
                        alert("Chose room")
                } else {
                        $.ajax({
                                url: '/admin/deleteRoom',
                                method: 'post',
                                dataType: 'json',
                                data: { listRoom: listRoom },
                                success: function (response) {
                                        if (response.msg == 'success') {
                                                getListRoom();
                                                alert('Delete success');
                                        }
                                        if (response.msg == 'error') alert('error')
                                },
                                error: function (response) { alert('server error'); }
                        })
                }

        }

        //phân ca để dưa vào bảng lịch học
        function typeTime(time) {
                var caLam
                if (time == "7:30 to 9:30") caLam = "time1"
                if (time == "9:45 to 11:45") caLam = "time2"
                if (time == "13:30 to 15:30") caLam = "time3"
                if (time == "15:45 to 17:45") caLam = "time4"
                if (time == "18:15 to 20:15") caLam = "time5"
                return caLam
        }

        function addRoom() {
                var roomName = $("input[name='roomName']").val().toUpperCase();
                if(roomName.trim().length == 0) return alert("Input name of the room!")
                var ca = ["7:30 to 9:30", "9:45 to 11:45", "13:30 to 15:30", "15:45 to 17:45", "18:15 to 20:15"]
                var room = []
                for (var i = 0; i < 5; i++) { room.push({ "room": roomName, "time": ca[i], "status": "None" }) }
                $.ajax({
                        url: '/admin/addRoom',
                        method: 'post',
                        dataType: 'json',
                        data: { roomName: room, room: roomName },
                        success: function (response) {
                                if (response.msg == 'success') {
                                        getListRoom();
                                        alert('Add room success');
                                }
                                if (response.msg == 'error') alert('error')
                        },
                        error: function (response) { alert('server error'); }
                })
        }
</script>


</html>