<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8" />
        <title>Room manage</title>
        <link rel="stylesheet" href="/css/admin/menu.css">
        <link rel="stylesheet" href="/css/admin/layOut.css">
        <link rel="stylesheet" href="/css/admin/assignRoomAndTime.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
</head>

<body>
        <header> {{> adminHeader }}</header>
        <div class='body' id="Schedual" style="text-align:left;">
                <div class='leftSide'>
                        <div class='leftSideContent'>
                                <h1></h1>
                                <div class="tr" id='thu'>
                                        <div class="td">Day of week</div>
                                        <div class="td">Monday</div>
                                        <div class="td">Tuesday</div>
                                        <div class="td">Wednesday</div>
                                        <div class="td">Thursday</div>
                                        <div class="td">Friday</div>
                                        <div class="td">Saturday</div>
                                        <div class="td">Sunday</div>
                                </div>
                                <div class="tr" id="time1"></div>
                                <div class="tr" id="time2"> </div>
                                <div class="tr" id="time3"> </div>
                                <div class="tr" id="time4"> </div>
                                <div class="tr" id="time5"> </div>
                        </div>
                </div>
                <div class='rightSide'>
                        <div class='rightSideContent'>
                                <div style="text-align:left;font-size:20px">
                                        <h1 style="margin:10px;">Add room</h1>
                                        <span>Room Name: <input type="text" name="roomName"></span>
                                        <button onclick="addRoom()">Add room</button>
                                </div>
                                <div id="listRoom"></div>

                        </div>
                </div>
        </div>
</body>
<script src="/jquery/jquery.js"></script>
<script src="/js/admin/assignRoomAndTime.js"></script>
</html>