<!DOCTYPE html>
<html lang="en">

<head>
        <link rel="stylesheet" href="/css/admin/menu.css">
        <link rel="stylesheet" href="/css/admin/layOut.css">
        <link rel="stylesheet" href="/css/admin/createRoute.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
</head>

<body>
        <div class="createRouteOut" style="display: none;">
                <div class="createRoute">
                        <form id='doCreateRoute'>
                                <div class="createFirstDIV">
                                        <h2>Create route</h2>
                                        Route name: <input type="text" id="routeName" required />
                                        Description:<input type="text" id="description" required />
                                        <button class='button' onclick="addStage('create')">Add Stage</button>
                                </div>
                                <div id="addStage" style="text-align: left;"></div>
                                <input type="submit" id='createRouteBtn' class='button' name="submit" value="Submit">
                        </form>
                </div>
        </div>
        <div class="updateRouteOut" style="display: none;">
                <div class="updateRoute">
                        <form id='doUpdateRoute'>
                                <div class="updateFirstDIV">
                                        <h2>update route</h2>
                                        <input type="hidden" id="routeIDUpdate">
                                        Route name:<input type="text" id="routeNameUpdate" required />
                                        Description:<input type="text" id="descriptionUpdate" required />
                                        <button class='button' onclick="addStage('update')">Add Stage</button>
                                </div>
                                <div id="addStageUpdate" style="text-align: left;"></div>
                                <input type="submit" class='button' name="submit" value="Submit">
                </div>
        </div>
        </div>

        <header> {{> adminHeader }}</header>

        <div class="body">
                <div class='leftSide'>
                        <div class="tr" id="option">
                                <div class='td'>
                                        <button onclick='$(".createRouteOut").fadeIn(500);'>Create Route</button>
                                </div>
                                <div class='td'>
                                        Tìm kiếm: <input id='searchRoute' onkeyup="filterRoute()" type='text'
                                                placeholder="Enter name of route">
                                </div>
                                <div class='td' id="number"></div>
                        </div>
                        <div class="tableRoute"></div>
                </div>
                <div class='rightSide'>
                        <div class="viewRoute" style="text-align: left !important;"></div>
                </div>
        </div>
        </div>
</body>
<script src="/jquery/jquery.js"></script>

<script src="/js/admin/createRoute.js"></script>

</html>