* {
    box-sizing: border-box;
}

body {
    width: 100%;
    background-image: url("/images/background.jpg");
    background-repeat: repeat-x;
    padding: 2%;
    margin: 0;
    margin-top: 1%;
    z-index: 1;
}

.content {
    box-sizing: border-box;
    margin: 0;
    margin-top: 10px;
    height: 600px;
    padding: 0;
}


/* chỉnh teacherProfile trang cá nhân */

#teacherProfile {
    font-size: 18px;
    padding: 30px;
    width: 30%;
    height: 100%;
    float: left;
    text-align: center;
    border: solid;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#teacherProfile img {
    height: 250px;
    width: 250px;
}

#teacherProfile button {
    font-size: 18px;
}


/* chỉnh Schedual lịch giảng dạy */

#Schedual {
    width: 69%;
    height: 100%;
    padding: 30px;
    float: right;
    border: solid;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 17px;
    text-align: left;
    overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

#chonTuan {
    margin-bottom: 10px;
    font-size: 18px;
    width: auto;
}

#Schedual h2 {
    font-size: 40px;
    margin: 20px 0;
    margin-bottom: 10px;
}

#Schedual label {
    font-size: 24px;
}


/* chỉnh tr td thuộc tính cột hàng */

.tr {
    display: table-row;
    overflow: hidden;
}

.td {
    display: table-cell;
    padding: 10px;
    width: 300px;
    border: #000000 solid 1px;
    margin: 5px;
    vertical-align: middle;
    text-align: center;
}

#ngay,
#thu {
    background-color: gray;
    color: white;
}


/* chỉnh updateProfileOut cập nhật tài khoản */

.updateProfileOut {
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 10;
    position: fixed;
    /* Stay in place */
    background-color: rgb(215, 225, 230);
    /* Fallback color */
    background-color: rgba(209, 189, 189, 0.4);
    /* Black w/ opacity */
    overflow: auto;
}

.updateProfile {
    width: 40%;
    height: auto;
    border-radius: 30px;
    background-color: whitesmoke;
    height: 600px;
    margin-left: 30%;
    overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

.updateProfile::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}

.updateProfile input {
    width: 100%;
    font-size: 20px;
    margin-bottom: 10px;
}

.updateProfile select {
    width: 100%;
    font-size: 20px;
    margin-bottom: 10px;
}

.updateProfile img {
    width: 250px;
    height: 250px;
}

.updateProfile button {
    font-size: 20px;
}

.updateProfile h2 {
    margin: 0;
    margin-bottom: 10px;
}

#teacherProfile {
    overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

#teacherProfile::-webkit-scrollbar,
#Schedual::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}