<!DOCTYPE html>
<html>

<head>
  <script src="/jquery/jquery.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.1/xlsx.full.min.js"></script>
  <link rel="stylesheet" href="/css/index/SownEnglish.css">
</head>

<body>
  <div id='forGotPassOut' border="solid" style="display: none;">
    <div id='forGotPassContent'>
      <input type="text" id='emailForgot' placeholder="Your email">
      <input type='text' id='codeForgot' placeholder="Enter code">
      <button onclick="getCode()">Get code through email</button>
      <input type='text' id='newPassForgot' placeholder="New password">
      <input type='text' id='confirmPassForgot' placeholder="Confirm password">
      <div>
        <button onclick="newPass()">Submit</button>
      </div>
    </div>
  </div>
  <div class='loginForm'>
    <p style="margin-bottom: 30px;font-family:Florence, cursive;font-size:35px;">Sown English</p>
    <p>Log in to your account</p>
    <hr style="  box-shadow: 0 10px 10px -10px #8c8c8c inset;">
    <p> Username</p>
    <input type="text" id="username" placeholder="Username">
    <p>Password</p>
    <input type="password" id="password" placeholder="Password">
    <a onclick="$('#forGotPassOut').fadeIn(500);">Forgot password</a>
    <button onclick="logIn()" style="margin:0">Log In</button>
  </div>
</body>
<script src=" /js/index.js"></script>

</html>