<!DOCTYPE html>
<html lang="en">

<head>
    <script src="/jquery/jquery.js"></script>
    <link rel="stylesheet" href="/css/teacher/allClass.css">
    <link rel="stylesheet" href="/css/teacher/menu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
</head>

<body>
    <div class="attendedListOut" style="display: none;">
        <div id="attendedList"></div>
    </div>

    <div class="studentListContentOut" style="display:none">
        <div class="studentListContent"></div>
    </div>

    <div class="studentAssessmentOut" style="display:none">
        <div class="studentAssessment">
            <h2>Student Assessment </h2>
            <input type="hidden" id='classID'></input>
            <input type="hidden" id='studentID'></input>
            <p>Student name: <label id='name'></label></p>
            <p> Email: <label id='email'></label></p>
            <p> Grade:</p>
            <select class="level" id="grade">
                <option value="Greate">Greate </option>
                <option value="Good">Good</option>
                <option value="Soso">Soso</option>
                <option value="Restudy">Restudy</option>
            </select>
            <p>Comment:</p><input type="text" id="comment">
            <button onclick="takeFeedBack()">Submit</button>
        </div>
    </div>

    <div class="studentAssessmentUpdateOut" style="display:none">
        <div class="studentAssessmentUpdate">
            <h2>Update Assessment </h2>
            <input type="hidden" id='updateclassID'></input>
            <input type="hidden" id='updatestudentID'></input>
            <p>Student name: <label id='updatename'></label></p>
            <p>Grade:</p>
            <select class="level" id="updategrade">
                <option value="Greate">Greate </option>
                <option value="Good">Good</option>
                <option value="Soso">Soso</option>
                <option value="Restudy">Restudy</option>
            </select>
            <p>Comment:</p><input type="text" id="updatecomment">
            <button onclick="updateFeekBack()">Submit</button>
        </div>
    </div>

    <div class='takeAttendFormOut' style="display: none;">
        <div id='takeAttendContent'>
            <div class='tr'>
                <div class='td'>Student</div>
                <div class='td'>Status</div>
                <input type="hidden" id="loladate">
                <input type="hidden" id="loladate1">
                <input type="hidden" id="loladate3">
                <input type="hidden" id="loladate4">
                <input type="hidden" id="scheduleStatus">
                <input type="hidden" id="scheduleTime">
                <input type="hidden" id="scheduleRoom">
                <input type="hidden" id="scheduleDay">
            </div>
        </div>
    </div>
    <input type="hidden" id="getClassID" value="{{params}}">
    <header> {{> teacherHeader}}</header>

    <div class="content">
        <div id='option'>
            <div class="tr">
                <div class='td'>
                    Filter by Status:
                    <select id="typeClass" onchange="countClass()">
                        <option value="Processing">Processing</option>
                        <option value="Finished">Finished</option>
                    </select>
                </div>
                <div class='td'>
                    <input id='search' type='text' placeholder='Enter class name'>
                    <button onclick="searchClass()">Search</button>
                </div>
                <div class='td' id="number"></div>
                <div class='td' id="soTrang"></div>
            </div>
        </div>
        <div id="tableClass"></div>
    </div>

</body>
<script src=" /js/teacher/allClass.js"></script>

</html>