* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: rgb(243, 238, 238);
    margin: 0;
    z-index: 1;
    overflow: hidden;
}

.chatForm {
    width: 99%;
    height: 530px;
    padding: 0;
    margin: 0 0.5%;
    margin-top: 10px;
    border: solid 2px gray;
    border-radius: 20px;
    background-color: white;
}

.chatHistory {
    border-right: solid black;
    width: 25%;
    float: left;
    padding: 0;
    height: 100%;
    margin: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(243, 238, 238);
}

div.chat {
    height: 100%;
    width: 75%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.history {
    width: 100%;
    height: 85%;
    overflow: auto;
    padding: 0 10px;
    margin: 0;
    overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

.history::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}

.chatOption {
    width: 100%;
    height: 14%;
    padding: 0 10px;
    margin: 0;
    font-size: 20px;
    border-bottom: solid black;
}

.chatOption h2 {
    margin: 1px 0;
}

.chatOption input {
    width: 75%;
    font-size: 15px;
    font-size: 15px;
    border-radius: 5px;
    padding: 5px;
}

.chatOption button {
    text-align: center;
    width: 23%;
    float: right;
    font-size: 15px;
    background-color: cornflowerblue;
    border-radius: 5px;
    padding: 5px;
    color: white;
    margin-bottom: 10px;
}

.history div {
    border: 1px solid black;
    border-radius: 10px;
    padding: 2%;
    margin: 0;
    margin-top: 5px;
    height: 18%;
    font-size: 16px;
    overflow: hidden;
    vertical-align: middle !important;
    background-color: white;
}

.history img {
    clear: both;
    height: 100%;
    width: 22%;
    margin: 0;
    border-radius: 25%;
    float: left;
    margin-right: 10px;
}

.history div p {
    padding: 0;
    margin: 0;
    margin-left: 20%;
    height: 100%;
    width: 80%;
    vertical-align: middle;
    font-size: 18px;
}

.history label {
    font-size: 15px;
}

.chatTitle {
    height: 10%;
    width: 100%;
    padding: 10px;
    margin: 0;
    font-size: 30px;
    line-height: 100%;
    text-align: left;
    background-color: rgb(243, 238, 238);
}

#messContent {
    clear: both;
    overflow: hidden;
    width: 100%;
    padding: 20px;
    height: 100%;
    margin: 0;
    overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    color: wheat;
}

#messContent::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}

.sender,
.receiver {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    height: auto;
    font-size: 16px;
}

.sender {
    text-align: right;
    padding-right: 10px;
}

.receiver {
    padding-left: 10px;
    text-align: left;
}

.sender p,
.receiver p {
    height: 99%;
    display: inline-block;
    padding: 10px;
    margin: 0;
    overflow-wrap: break-word;
    width: auto;
    background: gray;
    border-radius: 10px;
    font-size: 18px;
    word-break: break-all;
    max-width: 85%;
}

.sender img,
.receiver img {
    margin: 0 10px;
    padding: 0;
    height: 100%;
    width: 5%;
    border-radius: 50%;
    vertical-align: middle;
}

div.chatBox {
    height: 82%;
    width: auto;
    overflow: auto;
    background-color: rgb(40, 40, 40);
    padding: 0;
    margin: 0;
}

#messengerSubmit {
    height: 100%;
}

div.sendMess {
    height: 8%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.sendMess input {
    width: 80%;
    height: 100%;
    float: left;
    font-size: 18px;
}

.sendMess .button {
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 20px;
    background-color: cornflowerblue;
    color: white;
    padding: 5px;
    border-bottom-right-radius: 16px;
}