<ul>
    <li style="float:left;font-family:cursive;">Sown English</li>
    <li onclick="location.href='/';" style="width: 8%;text-align:center">
        <div style="background-color:lightpink;display:none;height:10px"></div>
        <i class="fas fa-sign-out-alt fa-lg"></i>
    </li>
    <li id='welcome'>welcome admin</li>
    <li onclick="location.href='/messenger/chatForm';">
        <div style="background-color:lightpink;display:none;height:10px"></div>
        Messenger <label id="UnreadMessages" runat="server" class="messages"></label>
    </li>
    <li onclick="location.href='/admin/assignRoomAndTime';">
        <div style="background-color:lightpink;display:none;height:10px"></div>
        Room Manage
    </li>
    <li onclick="location.href='/admin/createClass';">
        <div style="background-color:lightpink;display:none;height:10px"></div>
        Class Manage
    </li>
    <li onclick="location.href='/admin/createRoute';">
        <div style="background-color:lightpink;display:none;height:10px"></div>
        Route Manage
    </li>
    <li onclick="location.href='/admin/createAccount'">
        <div style="background-color:lightpink;display:none;height:10px"></div>
        Account Manage
    </li>
</ul>