<ul>
    <li style="float:left;font-family:cursive;">Sown English</li>
    <li style="width: 8%;text-align:center">
        <a href='/'>
            <div style="background-color:lightpink;display:none;height:10px"></div>
            <i class="fas fa-sign-out-alt fa-lg"></i>
        </a>
    </li>
    <li id='welcome'>welcome admin</li>
    <li>
        <a href='/messenger/chatForm'>
            <div style="background-color:lightpink;display:none;height:10px"></div>
            Messenger <label id="UnreadMessages" runat="server" class="messages"></label>
        </a>
    </li>
    <li> <a href='/admin/assignRoomAndTime'>

            <div style="background-color:lightpink;display:none;height:10px"></div>
            Room Manage
        </a>
    </li>
    <li>
        <a href='/admin/createClass'>
            <div style="background-color:lightpink;display:none;height:10px"></div>
            Class Manage
        </a>
    </li>
    <li>
        <a href='/admin/createRoute'>

            <div style="background-color:lightpink;display:none;height:10px"></div>
            Route Manage
        </a>
    </li>
    <li>
        <a href='/admin/createAccount'>
            <div style="background-color:lightpink;display:none;height:10px"></div>
            Account Manage
        </a>
    </li>
</ul>