<ul>
    <li style="float:left;font-family:cursive;">Sown English</li>
    <li>
        <a href='/'>
            <div style="background-color:lightpink;display:none;height:10px"></div>
            <i class="fas fa-sign-out-alt fa-lg"></i>
        </a>
    </li>
    <li id="welcome"></li>
    <li>
        <a href="/messenger/chatForm">
            <div style="background-color:lightpink;display:none;height:10px"></div>
            Messenger <label id="UnreadMessages" runat="server" class="messages"></label>
        </a>
    </li>

    <li>
        <a href="/guardian/allClass/0">
            <div style="background-color:lightpink;display:none;height:10px"></div>
            Class
        </a>
    </li>
    <li>
        <a href="/account/homeGuardian">
            <div style="background-color:lightpink;display:none;height:10px"></div>
            Home guardian
        </a>
    </li>

</ul>