<ul>
    <li style="float:left;font-family:cursive;">Sown English</li>
    <li onclick="location.href='/';">
        <div style="background-color:lightpink;display:none;height:10px"></div>
        <i class="fas fa-sign-out-alt fa-lg"></i>
    </li>
    <li id='welcome'></li>
    <li id='mess' onclick="location.href='/messenger/chatForm';">
        <div style="background-color:lightpink;display:none;height:10px"></div>
        Messenger <label id="UnreadMessages" runat="server" class="messages"></label>
    </li>
    <li onclick="location.href='/teacher/allClass/0'">
        <div style="background-color:lightpink;display:none;height:10px"></div>
        Class
    </li>
    <li onclick="location.href='/account/homeTeacher';">
        <div style="background-color:lightpink;display:none;height:10px"></div>
        Trang chủ teacher
    </li>



</ul>