* {
    box-sizing: border-box;
}

.tableAccount .tr:nth-child(1) {
    background-color: gray;
    color: white;
    font-size: 20px;
}

.tr {
    display: table-row;
    padding: 5px;
    overflow: hidden;
}

.td {
    display: table-cell;
    padding: 5px;
    width: 300px;
    border: #000000 solid 1px;
}

.rightSide {
    font-size: 20px;
    padding: 10px;
}

.rightSide img {
    padding: 0;
    margin: 0;
    max-height: 250px;
    max-width: 250px;
}

.rightSide::-webkit-scrollbar,
.leftSide::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}

#option input,
#option select,
#option button {
    font-size: 18px;
}

#option .tr {
    height: 40px;
    border: none;
    padding: 0;
    margin: 0;
}

#option .td {
    width: fit-content;
    padding: 0;
    margin: 0;
    border: none;
    font-size: 20px;
    padding-right: 20px;
}

.tableAccount {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    width: 100%;
    height: 440px;
    font-size: 18px;
}

.tableAccount button {
    font-size: 18px;
    width: 100%;
}

.tableAccount .tr {
    overflow: auto;
}

.tableAccount img {
    height: 60px;
    width: 60px;
    vertical-align: middle;
}

.createAccountOut,
.updateFormOut,
.SchedualOut {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 10;
    position: fixed;
    text-align: center;
    /* Stay in place */
    background-color: rgb(215, 225, 230);
    /* Fallback color */
    background-color: rgba(209, 189, 189, 0.4);
    /* Black w/ opacity */
}

#createAccount,
#updateForm,
#Schedual {
    box-sizing: border-box;
    background-color: whitesmoke;
    height: 80%;
    width: 50%;
    margin: 0;
    padding: 10px;
    margin-left: 25%;
    overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    font-size: 20px;
    text-align: center;
}

#Schedual {
    width: 70%;
    margin-left: 15%;
}

#Schedual select {
    width: auto;
    margin-bottom: 10px;
    font-size: 18px;
}

#createAccount::-webkit-scrollbar,
#Schedual::-webkit-scrollbar,
#updateForm::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}

.typeRole,
.typeRoleUpdate {
    margin-top: -10px !important;
    padding-top: 0 !important;
}

.button {
    font-size: 18px;
    width: auto !important;
}

#createAccount div,
#updateForm div {
    width: 100%;
    padding: 10px;
    margin: 0;
    text-align: left;
}

#createAccount input,
#updateForm input {
    width: 100%;
    margin-bottom: 10px;
    font-size: 18px;
}

#createAccount select,
#updateForm select {
    width: 100%;
    margin-bottom: 10px;
    font-size: 18px;
}

#createAccount input[type=checkbox],
#updateForm input[type=checkbox] {
    width: auto;
}

#availbleTime ul,
#availbleTimeUpdate ul {
    width: 25% !important;
    float: left;
}