    * {
        box-sizing: border-box;
    }
    /* Thuộc tính layOut chung của admin */
    
    .body {
        padding: 20px;
    }
    /* bảng route trong create class */
    
    #routeTuyBien {
        width: auto;
        padding: 0;
        font-size: 20px;
        overflow-x: auto;
    }
    
    #routeTuyBien .tr,
    #routeTuyBien .td {
        text-align: left;
    }
    
    #option input,
    #option select,
    #option button {
        font-size: 18px;
    }
    
    #option .tr {
        height: 40px;
        border: none;
        padding: 0;
        margin: 0;
    }
    
    #option .td {
        width: fit-content;
        padding: 0;
        margin: 0;
        border: none;
        font-size: 20px;
        padding-right: 20px;
    }
    
    .tableClass {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        width: 100%;
        margin-top: 20px;
        height: 530px;
        text-align: center;
        font-size: 18px;
    }
    
    .tableClass button {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        width: 100%;
        font-size: 18px;
    }
    /* modeal cấp 1 */
    
    .studentListOut,
    .createClassOut,
    .attendedListOut,
    .updateClassOut,
    .actionOut,
    .updateClassOut {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        z-index: 10;
        position: fixed;
        text-align: center;
        vertical-align: middle;
        /* Stay in place */
        background-color: rgb(215, 225, 230);
        /* Fallback color */
        background-color: rgba(209, 189, 189, 0.4);
        /* Black w/ opacity */
    }
    
    .studentListContent,
    #createClass,
    #attendedList,
    #updateClass,
    .action,
    #updateClass {
        box-sizing: border-box;
        background-color: whitesmoke;
        height: 80%;
        width: 50%;
        margin: 0;
        padding: 20px;
        margin-left: 25%;
        overflow: auto;
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;
        font-size: 20px;
        text-align: center;
    }
    
    #availbleTime ul {
        width: 33%;
        float: left;
    }
    
    #availbleTime input[type=checkbox] {
        width: auto;
    }
    
    .button {
        font-size: 18px;
        width: auto !important;
    }
    
    .studentListContent button {
        font-size: 18px;
        margin-bottom: 10px;
    }
    
    .studentListContent img {
        height: 100px;
        width: 100px;
    }
    /* bảng học sinh ở trong tạo class */
    
    #studentTable {
        overflow: auto;
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;
        font-size: 20px;
        height: 400px;
        display: none;
    }
    /* chỉnh css form tạo lớp */
    
    #createClass input {
        width: 100%;
        margin-bottom: 10px;
        font-size: 18px;
    }
    
    #createClass select,
    #updateClass select {
        width: 100%;
        margin-bottom: 10px;
        font-size: 18px;
    }
    
    #teacherID,
    #span2 {
        text-align: center;
        vertical-align: middle;
    }
    
    #teacherID img,
    #span2 img {
        height: 200px;
        width: 200px;
    }
    
    .action {
        box-sizing: border-box;
        margin-top: 10%;
        height: 30%;
        width: 50%;
        text-align: center;
    }
    
    .action div {
        box-sizing: border-box;
        margin: 0;
        padding: 10px;
        height: 100%;
        width: 100%;
        vertical-align: middle;
    }
    
    .action .td {
        display: table-cell;
        padding: 5px;
        width: 300px;
        vertical-align: middle;
        font-size: 20px;
        border: none;
    }
    
    .action i {
        font-size: 100px;
    }
    
    .action button {
        font-size: 20px;
    }
    
    #updateClass {
        text-align: center;
        font-size: 20px;
    }
    
    #updateClass input {
        width: 100%;
        font-size: 18px;
        margin-bottom: 10px;
    }
    
    #updateClass button {
        width: auto;
        font-size: 18px;
        margin-top: 10px;
    }
    /* form cấp 2 */
    
    .studentTableAddOut,
    .updateScheduleFormOut {
        width: 100%;
        height: 100%;
        padding: 10%;
        z-index: 20;
        position: fixed;
        text-align: center;
        /* Stay in place */
        background-color: rgb(215, 225, 230);
        /* Fallback color */
        background-color: rgba(209, 189, 189, 0.4);
        /* Black w/ opacity */
        overflow: scroll;
    }
    
    .updateScheduleFormOut {
        padding: 15%;
    }
    
    .updateSchedualContent {
        box-sizing: border-box;
        background-color: whitesmoke;
        height: 100%;
        width: 100%;
        overflow: scroll;
        font-size: 18px;
        padding: 2%;
    }
    
    #studentTableAdd {
        box-sizing: border-box;
        font-size: 18px;
        padding: 2%;
        height: 100%;
        width: 70%;
        margin-left: 10%;
        background-color: whitesmoke;
        overflow: scroll;
    }
    
    #studentTableAdd button {
        font-size: 18px;
        margin-top: 10px;
    }
    
    i {
        font-size: 30px;
    }
    
    .tr {
        display: table-row;
        padding: 5px;
        overflow: hidden;
    }
    
    .td {
        display: table-cell;
        padding: 5px;
        width: 300px;
        border: #000000 solid 1px;
        vertical-align: middle;
    }
    
    .tableClass .tr:nth-child(1),
    #firstTrlistStudent,
    #studentTableAdd .tr:nth-child(1),
    #attendedList .tr:nth-child(1),
    #SubmitupdateScheduleForm .tr:nth-child(1) {
        background-color: gray;
        color: white;
        font-size: 20px;
    }
    /* chỉnh  ẩn thanh cuộn  */
    
    .studentListContent::-webkit-scrollbar,
    #createClass::-webkit-scrollbar,
    #attendedList::-webkit-scrollbar,
    #updateClass::-webkit-scrollbar,
    #studentTable::-webkit-scrollbar {
        width: 0 !important;
        display: none;
    }