* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: rgb(243, 238, 238);
    margin: 0;
    z-index: 1;
    overflow: hidden;
}

i,
button {
    cursor: pointer;
}

#routeTuyBienOut {
    width: 100%;
    height: auto;
    text-align: left;
    margin: 0;
    padding: 10px;
    overflow: auto;
}

#routeTuyBien {
    height: 100%;
    width: 100%;
}

#routeTuyBien i {
    float: right;
    color: chartreuse;
}

#routeTuyBien .tr:nth-child(1) {
    background-color: gray;
    color: white;
}

.content {
    width: 100%;
    height: 530px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.leftSide {
    height: 100%;
    margin: 0;
    width: 20%;
    float: left;
    border-right: solid 2px gray;
    padding: 10px;
    font-size: 18px;
    word-break: break-all;
    text-align: left;
}

.leftSideContent {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    padding: 10px;
    border: solid 1px gray;
}

.rightSide {
    padding: 10px;
    margin: 0;
    width: 80%;
    height: 100%;
    float: right;
}

.rightSideContent {
    height: 100%;
    width: 100%;
    background-color: white;
    padding: 10px;
    margin: 0;
    border: solid 1px gray;
}

.leftSide img {
    padding: 0;
    margin: 0;
    max-height: 250px;
    max-width: 250px;
}

.tr:nth-child(1) {
    background-color: gray;
    color: white;
    font-size: 20px;
}

.tr {
    display: table-row;
    padding: 5px;
    overflow: hidden;
}

.td {
    display: table-cell;
    padding: 5px;
    width: 300px;
    border: #000000 solid 1px;
    margin: 5px;
    vertical-align: middle;
    font-size: 18px;
}

.td button {
    width: 100%;
    margin-bottom: 5px;
}

.td button i {
    font-size: 30px;
    width: 100%;
}

.studentListOut,
.myAttendOut,
.teacherIn4Out {
    width: 100%;
    height: 100%;
    padding: 5%;
    z-index: 10;
    position: fixed;
    text-align: center;
    /* Stay in place */
    background-color: rgb(215, 225, 230);
    /* Fallback color */
    background-color: rgba(209, 189, 189, 0.4);
    /* Black w/ opacity */
    overflow: scroll;
    vertical-align: middle;
}

.studentList,
.myAttendContent,
.teacherIn4 {
    background-color: whitesmoke;
    padding: 2%;
    margin: 0;
    margin-left: 15%;
    height: 100%;
    width: 70%;
}

.teacherIn4 {
    height: 65%;
    width: 30%;
    margin-left: 35%;
}

.teacherIn4 button,
.studentList button {
    background-color: cornflowerblue;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    padding: 5px;
    width: auto;
}


/* chỉnh studentListContent ảnh cho danh sách học sinh */

.studentList img {
    height: 100px;
    width: 100px;
}


/* chỉnh ẩn thanh cuộn */

.leftSideContent,
.rightSideContent,
.studentList,
.myAttendContent,
.teacherIn4 {
    overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

.studentList::-webkit-scrollbar,
.myAttendContent::-webkit-scrollbar,
.teacherIn4::-webkit-scrollbar,
.leftSideContent::-webkit-scrollbar,
.rightSideContent::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}