<!DOCTYPE html>
<html lang="en">

<head>
  <script src="/jquery/jquery.js"></script>
  <link rel="stylesheet" href="/css/student/allClass.css">
  <link rel="stylesheet" href="/css/teacher/menu.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
</head>

<body>
  <input type="hidden" id="getClassID" value="{{params}}">

  <div class="studentListOut" style="display:none">
    <div class="studentList"></div>
  </div>
  <div class="myAttendOut" style="display:none">
    <div class="myAttendContent"></div>
  </div>
  <div class="teacherIn4Out" style="display:none">
    <div class="teacherIn4"></div>
  </div>

  <header> {{> studentHeader }}</header>


  <div class="content">
    <div id='option'>
      <div class="tr">Tìm kiếm: <input id="myInput" type="text" placeholder="Input class name"></div>
    </div>
    <div id="tableClass"></div>
  </div>


</body>

<script src="/js/student/allClassStudent.js"></script>

</html>