<!DOCTYPE html>
<html>

<head>
    <script src="/jquery/jquery.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="/css/student/studentHome.css">
    <link rel="stylesheet" href="/css/student/menu.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
</head>

<body>
    <div class="updateProfileOut" style="text-align: center; display:none">
        <div class="updateProfile">
            <h2>Update profile</h2>
            <div>
                <img id='currentAvatar' style='max-width:auto;max-height:auto'></img>
                <input type="hidden" id="avatarOldProfile">
                <input type='file' id='myFile'>
                Full Name: <input id='usernameUpdate'></input>
                Password:<input id='newPassWord' placeholder="Input New password if you wanna change"></input>
                Gender:<select id='genderUpdate'>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                </select>
                Email: <input id='emailUpdate'></input>
                Phone: <input id='phoneUpdate'></input>
                BirthDay: <input id='birthdayUpdate'></input>
                Address: <input id='addressUpdate'></input>
                <button onclick="doUpdateProfile()">Update</button>
            </div>
        </div>
    </div>
     <header> {{> studentHeader }}</header>

    <div class="content">
        <div id="studentProfile">
            <img id='avatarProfile' src="">
            <p id='idProfile' style="display:none"></p>
            <p id='usernameProfile'></p>
            <p id='genderProfile'></p>
            <p id='emailProfile'></p>
            <p id='routeProfile'></p>
            <p id='stageProfile'></p>
            <p id='emailProfile'></p>
            <p id='phoneProfile'></p>
            <p id='birthdayProfile'></p>
            <p id='addressProfile'></p>
            <button onclick="updateProfile()">Update</button>
        </div>
        <div id="Schedual" style="text-align:left;">
            <h2>Weekly Schedual</h2>
            <label>Chose week: </label><select id='chonTuan' onchange="tuanoi()"></select>
            <div class="tr" id='ngay'></div>
            <div class="tr" id='thu'>
                <div class="td">Day of week</div>
                <div class="td">Monday</div>
                <div class="td">Tuesday</div>
                <div class="td">Wednesday</div>
                <div class="td">Thursday</div>
                <div class="td">Friday</div>
                <div class="td">Saturday</div>
                <div class="td">Sunday</div>
            </div>
            <div class="tr" id="time1">
                <div class="td">7:30 to 9:30</div>
            </div>
            <div class="tr" id="time2">
                <div class="td">9:45 to 11:45</div>
            </div>
            <div class="tr" id="time3">
                <div class="td">13:30 to 15:30</div>
            </div>
            <div class="tr" id="time4">
                <div class="td">15:45 to 17:45</div>
            </div>
            <div class="tr" id="time5">
                <div class="td">18:15 to 20:15</div>
            </div>

        </div>
    </div>
</body>
<script src=" /js/student/studentHome.js"></script>

</html>